body  {
	color: #fff;
	background: $primary-color;
	//background-image: image-url('wood_pattern.png');
	background-image: image-url('webtreats_wood-pattern2-1024.jpg');
	background-attachment: fixed;
	background-position : top center;
	
}

ul {
	padding-left: 0;

	li {
		list-style: none;
	}
}

ul.classic {
	padding-left: 20px;

	li {
		list-style-type: disc;
	}
}

hr {
	border-top: 1px solid $primary-color-darken;
	border-bottom: 1px solid $primary-color-lighten;
	background: none;
	color: transparent;
	height: 0;
	margin: 10px 0;
}

.mtg {
	font-weight: bold;
}



/* =HEADER, =FOOTER 
-----------------------------------------------------------------------*/
.main-header, .main-footer {
	background-color: $primary-color-darken-extra;
	border-color: $primary-color-darken-extra;
	border-width: 1px;
	box-shadow: 0 0 5px rgba(0,0,0,.7);
	
	a, & {
		color: #fff;
		text-shadow: 1px 1px $primary-color-darken-extra;
	}

	padding: 10px 0;
}

.main-header {
	border-bottom-style: solid;
	background-image : linear-gradient(
		180deg, 
		rgba(255,255,255,0) 0%,
		rgba(255,255,255,.2) 100%
	);
}

.main-footer {
	border-top-style: solid;
	background-image : linear-gradient(
		0deg,
		rgba(255,255,255,0) 0%,
		rgba(255,255,255,.2) 100%
	);
}

.main-header .title {
	@include column(8);
	@media only screen and ( max-width: $bp-small) {
		@include column(12);
	}
}

.main-header .actions {
	@include column(4);
	text-align: right;
	@media only screen and ( max-width: $bp-small) {
		@include column(12);
		text-align: left;
	}

	.logout-link::after,
	.settings-link::before {
		font-family: icons;
		display: inline-block;
		vertical-align: middle;
	}
	.logout-link::after {
		content: '\f008';
		padding-left: 4px;
	}
	.settings-link::before {
		content: '\f009';
		padding-right: 4px;
	}
}

.main-header .main-title {
	margin:0;
	font-weight: normal;

	a {
		text-decoration: none;
	}
}

.main-header .header-link {
	text-decoration: none;
	display : inline-block;
}

.main-header .logo {
	float: left;
	margin-right: 10px;
}

.main-nav {

	@include column(12);
	padding: 4px;
	margin-top : 4px;
	margin-bottom : 4px;
	
	border: 1px solid $primary-color-lighten;
	border-radius: 4px;

	background-color :  $primary-color-lighten-extra;
	&, a {
		color : #222;
		text-shadow: 1px 1px #fff;
	}

	.main-nav-menu {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	.main-nav-elt {
		display: table-cell;
		text-align: center;
		vertical-align: middle;

		a {
			display: block;
		}
	}

	.home-link::before {
		content:'\f006';
		font-family: icons;
		display: inline-block;
		vertical-align: top;
		padding-right: 4px;
		font-size: 1.1em;
	}

	.collection-link::before {
		content: '\f005';
		font-family: icons;
		display: inline-block;
		vertical-align: top;
		padding-right: 6px;
	}

	.search {
		@include inline-block;

		input {
			@media only screen and ( max-width: $bp-big) {
				width: 150px;
			}
		}
	}

	.search-label {
		position: absolute;
		left: -999999999px;
	}

	.search-submit {
		span {
			position: absolute;
			left: -999999999px;
		}

		&::after {
			content:'\f003';
			font-family: icons;
			$alignment: 'middle';
			@include inline-block;
			padding: 0 2px;
		}
	}
}

/* ==LOADER */

.loader {
	display: none;
}

.loader:before {

	content: '\f004';
	font-family: icons;
	font-size: 4em;

	position: fixed;
	left: 50%;
	margin-left: -30px;
	top: 50%;
	margin-top: -30px;
	z-index: 10;
	text-shadow: 0 0 5px $primary-color-darken-extra;

	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	transform-origin: center center;

	-webkit-animation: rotate_loader 2.5s linear infinite ;  
	-moz-animation: rotate_loader 2.5s  linear infinite ;  
	-ms-animation: rotate_loader 2.5s  linear infinite ;  
	-o-animation: rotate_loader 2.5s linear infinite ;  
	animation: rotate_loader 2.5s linear infinite ; 
	animation-fill-mode:both;
}

@-webkit-keyframes rotate_loader { 
	from { -webkit-transform: rotateZ(0deg) ; } 
	to { -webkit-transform: rotateZ(360deg) ; } 
}
@-moz-keyframes rotate_loader { 
	from { -moz-transform: rotateZ(0deg) ; } 
	to { -moz-transform: rotateZ(360deg) ; } 
}
@-o-keyframes rotate_loader { 
	from { -o-transform: rotateZ(0deg) ; } 
	to { -o-transform: rotateZ(360deg) ; } 
}
@keyframes rotate_loader { 
	from { transform: rotateZ(0deg) ; } 
	to { transform: rotateZ(360deg) ; } 
}


/* ==LOGIN */

.login-wrapper {
	position: relative;

	.register-link {
		//float: right;
	}

	.login-form-errors {
		border: 1px solid $primary-color-lighten;
		border-top: none;
		border-radius: 4px;
		background-color :  $primary-color-lighten-extra;
		z-index:1;
		padding: 50px 4px 4px 4px;
		position: absolute;
		left: 30px;
		top:0;
		margin: 4px 1% 4px 30px;
		box-shadow: 0 0 4px #000;
		color : #222;
		text-shadow: 1px 1px #fff;
		width: 400px;
	}
}

.login-form {

	position: relative;
	z-index:2;
	box-shadow: 0 0 4px #000;

	@extend .main-nav;

	label {
		padding-right: 4px;
	}

	.form-group::after {
		//content:'\f111'; // petit rond à remplacer ?
		font-family: icons;
		font-size: .5em;
		display: inline-block;
		vertical-align: middle;
		padding: 0 2px;
	}

	.login-submit {
		&::after {
			//content:'\f011';
			font-family: icons;
			display: inline-block;
			vertical-align: middle;
			padding-left: 4px;
		}
	}
}


/*
==MAIN
*************************/

.main-content {
	padding: 10px 0;
}


/* =BLOCS
----------------------------------------------*/

.block {
	
	border: 1px solid $primary-color-darken-extra; //black ; //rgb(183,166,139);
	border-radius : 4px;
	@include column(12);
	margin-bottom: 1%;
	background: $primary-color-darken-extra;
	box-shadow: 0 0 5px rgba(0,0,0,.7);
	position: relative;
	overflow: hidden;

	a {
		color: $link-normal;
		text-decoration: underline;
		cursor: pointer;

		&:hover, &:focus {
			color: $link-hover;
		}
		&:visited {
			color: $link-visited;
		}
	}

	.block-title {
		display: block;
		padding: 5px;
		font-weight: bold;
		color : white;
		text-shadow: 1px 1px $primary-color-darken-extra;
		background-color:  $primary-color-darken-extra;
		background-image : linear-gradient(
			180deg,
			rgba(255,255,255,0) 0%,
			rgba(255,255,255,.2) 100%
		);
		background-size: 100% 103%; background-position:center;
		overflow:hidden;
	}

	&.foldable .block-title {
		cursor: pointer;
	}

	// hide the little arrow of "details" elements
	&.foldable .block-title::-webkit-details-marker { 
		display:none; 
	}

	&.foldable .block-title:focus {
		outline: none;
	}

	&.foldable .block-title::after {
		content: '\f001';
		font-family: icons;
		display: inline-block;
		vertical-align: middle;
		margin-right: 6px;
		float: right;
		width: 24px;
		text-align: center;
	}

	&.foldable .block-title:focus::after,
	&.foldable .block-title:hover::after {
		//border-radius: 50px;
		color: $primary-color-lighten;
		//box-shadow: -1px -1px 1px $primary-color-darken-extra inset;
	}

	&.foldable .block-title[aria-expanded="true"]::after,
	&.foldable.open .block-title::after {
		content: '\f002';
	}

	.block-content {
		border-color: $primary-color-darken-extra;
		border-width: 1px;
		border-top-style: solid;
		background-color: $primary-color-lighten-extra;
		color: #222;
		text-shadow: 1px 1px #fff;
		@extend .item;
	}

}

.sub-block {

	$columns: 3;
	@include column($columns);
	&.double {
		@include column($columns*2);
	}

	$break-points: ($bp-big,4), ($bp-medium,6),($bp-small,12) ;

	@each $bp in $break-points {

		$max-width: nth($bp, 1);
		$columns: nth($bp, 2);

		@media only screen and ( max-width: $max-width) {
			@include column($columns);
			&.double {
				@if $columns != 12 {
					@include column($columns*2);
				}
			}
		}
	}

	text-align: center;
	margin-bottom: 1%;
	margin-top: 1%;
	background-color:  $primary-color-lighten;
	border: 1px solid rgba(0,0,0,.1);
	border-radius : 4px;
}

.intro {
	.block-title {
		background-color: $primary-color-darken;
	}
	.block-content {
		border-color: $primary-color-darken;
		border-width: 1px;
		border-top-style: solid;
	}


}




/* =CARTES
--------------------------------------------------*/

.card {

	.name {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.localized-name {
		font-style: italic;
	}

	.form-group {
		display: table;
		width: 100%;
	}
	
	.qty-label, .qty-number {
		display: table-cell;
		vertical-align: middle;
	}

	.qty-number {
		width: 60px;
	 	text-align: right;
	}

	.qty {
		width: 60px;
	}

	.qty-total {
		@extend .input-alt;
	}

	.card-picture {
		background-color : #222;
		background-image: image-url('back.jpg');
		border: 10px solid #222;
		border-radius : 8px;
		display: inline-block;

		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	
}


/*
==SETS
*****************************/

.page-set {

	.set {
		text-align: center;
		padding: 10px;
		height: 80px;

		@include column(4);

		@media only screen and ( max-width: $bp-medium) {
			@include column(12);
		}
	}

	.set-link {
		display: block;
		display: table;
		width: 100%;
		height: 100%;
		vertical-align: middle;

		> * {
			display: table-cell;
			vertical-align: middle;

		}
	}

	.set-name {
		//display: block;
		//text-overflow: ellipsis;
		overflow: hidden;
		//white-space: nowrap;
	}

}

/*
==COLLECTION
*****************************/

.page-collection {
	.card-group .block-title::before {
		content: '\f005';
		font-family: icons;
		display: inline-block;
		vertical-align: top;
		padding-right: 6px;
		font-weight: normal;
	}
}


/* =HOME
---------------------------------------------------*/
.page-home {

	.home-wrapper {

		.block {
			// init
			@include column(4);

			@media only screen and ( max-width: $bp-medium) {
				@include column(12);
			}
			
		}

	}

	.card {
		@include column(12);		
	}

	.empty {
		display: none;
	}


	
}

.notification-wrapper {
	position: fixed;
	bottom:10px;
	right:10px;
	max-width: 500px;
}

.notification {

	@extend .item;

	background: $normal-lighten;
	border: 1px solid $normal;
	color: #222;	
	min-width: 300px;
	min-height: 64px;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,.7);
	margin-top: 20px;

	&:before {
		color: $success;
		font-size: 2em;
		content: '\f005';
		font-family: icons;
		display: inline-block;
		vertical-align: middle;
		padding-right: 6px;
	}

	&.error {
		background: $error-lighten;
		border: 1px solid $error;

		&:before {
			content: '\f011';
			color: $error;
		}
	}
}

.button {
  padding: 1px 6px;
  margin: 6px;

  text-decoration: none;
  
  border-radius: 5px / 10px;
  background: $primary-color-lighten;

  box-shadow: 
    1px 2px 1px rgba($primary-color-darken,.7) inset, 
    1px -2px 1px rgba($primary-color-lighten-extra,.5) inset,
    0 0 0 1px $primary-color-darken-extra,
    0 0 0 3px $primary-color, 
    0 0 0 4px $primary-color-darken-extra;

  border: none;

  &:hover,
  &:focus {
    outline: none;
	box-shadow: 
		1px 2px 1px rgba($primary-color-darken,.7) inset, 
		1px -2px 1px rgba($primary-color-lighten-extra,.5) inset,
		0 0 0 1px $primary-color-darken-extra,
		0 0 0 3px $primary-color-darken, 
		0 0 0 4px $primary-color-darken-extra;
  	}
}

.button-alt-color {
	text-decoration: none;
	background: $secondary-color-lighten;
	box-shadow: 
		1px 2px 1px rgba($secondary-color-darken,.7) inset, 
		1px -2px 1px rgba($secondary-color-lighten-extra,.5) inset,
		0 0 0 1px $secondary-color-darken-extra,
		0 0 0 3px $secondary-color, 
		0 0 0 4px $secondary-color-darken-extra;
}

.button-alt-style {
  border-radius: 5px / 10px;
  text-decoration: none;
  background: $primary-color-lighten;
  box-shadow: 
    1px -2px 1px rgba($primary-color-darken,.7) inset, 
    1px 2px 1px rgba($primary-color-lighten-extra,.5) inset, 
    0 0 0 1px $primary-color-darken-extra,
    0 0 0 3px $primary-color, 
    0 0 0 4px $primary-color-darken-extra;
  border: none;
  padding: 1px 6px;
  margin-left: 6px;
  margin-right: 6px;

  &:hover,
  &:focus {
    outline: none;
  box-shadow: 
    1px -2px 1px rgba($primary-color-darken,.7) inset, 
    1px 2px 1px rgba($primary-color-lighten-extra,.5) inset, 
    0 0 0 1px $primary-color-darken-extra,
    0 0 0 3px $primary-color-darken, 
    0 0 0 4px $primary-color-darken-extra;
  }
}


.fold-button {
	margin: 10px;
}